// {
//   "extends": [
//     "eslint:recommended",
//     "plugin:react/recommended"
//   ],
//   "env": {
//     "browser": true,
//     "commonjs": true,
//     "node": true,
//     "es6": true
//   },
//   "parser": "babel-eslint",
//   "parserOptions": {
//     "ecmaVersion": 2018,
//     "sourceType": "module",
//     "ecmaFeatures": {
//       "jsx": true
//     }
//   },
//   "plugins": [
//     "react"
//   ],
//   "rules": {
//     // General ECMA
//     "array-element-newline": "off",
//     "array-bracket-newline": "off",
//     "capitalized-comments": "off",
//     "react/display-name": ["off"],
//     "lines-around-comment": "off",
//     "lines-between-class-members": "off",
//     "line-comment-position": "off",
//     "no-inline-comments": "off",
//     "no-ternary": "off",
//     "no-underscore-dangle": "off",
//     "no-void": "off",
//     "no-warning-comments": "off",
//     "no-useless-computed-key": "off",
//     "no-case-declarations": "off",
//     "no-await-in-loop": "off",
//     "one-var": ["error", "never"],
//     "dot-location": ["error", "property"],
//     "padded-blocks": ["error", "never"],
//     "quotes": ["error", "single"],
//     "quote-props": ["error", "as-needed", {"numbers":  true}],
//     "semi": ["error", "always"],
//     "sort-keys": "off",
//     "no-confusing-arrow": "off",
//     "func-names": "off",
//     "function-paren-newline": "off",
//     "implicit-arrow-linebreak": "off",
//     "object-property-newline": "off",
//     "require-unicode-regexp": "off",

//     "object-curly-spacing": [2, "always"],

//     "max-statements": ["warn", {
//       "max":  25
//     }],

//     "sort-imports": ["error", {
//       "memberSyntaxSortOrder": ["all", "multiple", "single", "none"]
//     }],

//     "padding-line-between-statements": [
//       "error",
//       {"blankLine": "any", "prev": "*", "next": "return"},
//       {"blankLine": "always", "prev": "var", "next": "*"},
//       {"blankLine": "always", "prev": "let", "next": "*"},
//       {"blankLine": "always", "prev": "const", "next": "*"},
//       {"blankLine": "any", "prev": "var", "next": ["var","let","const"]},
//       {"blankLine": "any", "prev": "let", "next": ["var","let","const"]},
//       {"blankLine": "any", "prev": "const", "next": ["var","let","const"]}
//     ],

//     "no-plusplus": ["error", {
//       "allowForLoopAfterthoughts": true
//     }],

//     // "no-magic-numbers": ["error", {
//     //   "ignore": [-1, 0, 0.5, 1, 2, 100]
//     // }],

//     "no-extra-parens": ["error", "all", {
//       "nestedBinaryExpressions": false,
//       "ignoreJSX": "multi-line"
//     }],

//     "no-console": ["error", {
//       "allow": ["warn", "error", "info"]
//     }],

//     "max-lines": ["warn", {
//       "max": 500,
//       "skipBlankLines": false,
//       "skipComments": false
//     }],

//     "max-len": ["warn", {
//       "code": 120,
//       "ignoreUrls": true,
//       "ignoreRegExpLiterals": true,
//       "ignoreTemplateLiterals": true
//     }],

//     // "indent": ["error", 2, {
//     //   "SwitchCase": 1
//     // }],

//     "id-length": ["error", {
//       "exceptions": ["a", "b", "e", "i", "j", "k", "x", "y", "z", "w", "_"]
//     }],

//     "class-methods-use-this": ["error", {
//       "exceptMethods": ["render"]
//     }],

//     "complexity": ["error", {
//       "max": 20
//     }],

//     "max-params": ["warn", {"max": 7}],

//     // React
//     "react/static-property-placement": "off",
//     "react/no-deprecated": "off",
//     "react/no-multi-comp": "off",
//     "react/jsx-closing-bracket-location": "off",
//     "react/jsx-closing-tag-location": "off",
//     //"react/jsx-indent": ["error", 2],
//     //"react/jsx-indent-props": ["error", 2],
//     "react/require-optimization": ["off"],
//     "react/no-set-state": ["off"],
//     "react/forbid-component-props": ["off"],
//     "react/jsx-one-expression-per-line": ["off"],
//     "react/jsx-curly-brace-presence": ["off"],
//     "react/jsx-props-no-spreading": ["off"],
//     "react/destructuring-assignment": ["off"],
//     // "react/sort-prop-types": ["error"],
//     "react/prop-types": 0,

//     "react/jsx-no-bind": ["error", {
//       "ignoreRefs": true,
//       "allowArrowFunctions": true
//     }],

//     // "react/forbid-prop-types": ["error", {
//     //   "forbid": ["array", "object"]
//     // }],

//     "react/jsx-handler-names": "off",

//     "react/jsx-max-props-per-line": ["error", {
//       "maximum": 3
//     }],

//     "react/jsx-max-depth": ["error", {
//       "max": 5
//     }],

//     "react/jsx-fragments": ["error", "element"]
//   }
// }
