@import "~styles/_common";

.layouts_header {
  &.main {
    background: $white;
    padding: 0 0 0 rem(20);
    min-height: 64px;
    height: 64px;
    border-bottom: 1px solid $gray-border;
    color: $text;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .layouts_header_logo {
      max-width: rem(150);
      max-height: rem(50);
      flex-shrink: 0;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}


.layouts_header_guide_menu {
  cursor: pointer;
}

